# -------------------------------------------------------------
# OS/IDE Artifacts
# -------------------------------------------------------------
.DS_Store               # macOS folder attributes file
**/.DS_Store

# Ignore version control or backup folders (as specified)
/versions/
/backups/
#/languages/